

    h1
    {
    font-size: 120px;
    color: rgb(22, 22, 22);
    width: 1000px;
    line-height: 22px;
     margin-top: 100px;  
     margin-bottom: 100px; 
    text-align:center;

    }

  .STMicro{
    margin-left: 0px;  
    padding: 8px 12px; 
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;


    font-family:Arial
  }

    .Microchip{
    font-family:Arial
  }

    .Expressif{
    font-family:Arial
  }

   .TexasInstruments{
    font-family:Arial
  }

   .NXP{
    font-family:Arial
  }

    .Infineon{
    font-family:Arial
  }

  .industry-leaders {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .company-select {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
        text-align:center;

  }

  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
  text-align: center;


}


